<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612657253511-9fcru2unltsfvpa65i1as8o526c91q8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612657253511-9fcru2unltsfvpa65i1as8o526c91q8e</string>
	<key>API_KEY</key>
	<string>AIzaSyCM2uQEwqE7-TI0lOhIzggNrtbYLiJBGyI</string>
	<key>GCM_SENDER_ID</key>
	<string>612657253511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luke.CodeComments</string>
	<key>PROJECT_ID</key>
	<string>messenger-cc51c</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-cc51c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:612657253511:ios:9f66e3a015768e2d75fc22</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-cc51c-default-rtdb.firebaseio.com</string>
</dict>
</plist>
